body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(https://png.pngtree.com/png-vector/20221020/ourlarge/pngtree-diverse-people-working-on-computer-together-solving-business-problem-png-image_6331911.png);
    background-size: cover;

}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    h1 {
        color: #ff0000;
        font-size: 80px;
        margin-bottom: 40px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-style: normal;
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 30%;
    }

    h2 {
        color: #ff0000;
        font-size: 40px;
        margin-bottom: 40px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 500;
        font-style: normal;
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 30%;

    }
}

main {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;

    .categoria {
        background: rgb(248, 246, 246, 0.7);
        border: 2px solid #007BFF;
        border-radius: 10px;
        padding: 20px;
        width: 30rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .categoria2 {
        background: rgb(248, 246, 246, 0.7);
        border: 2px solid #007BFF;
        border-radius: 10px;
        padding: 20px;
        width: 30rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;

    }

    .categoria2 img {
        width: 100%;
        object-fit: cover;

    }

    .categoria3 {
        background: rgba(255, 255, 255, 0.7);
        border: 2px solid #007BFF;
        border-radius: 10px;
        padding: 20px;
        width: 30rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .categoria3 img {
        width: 100%;
        object-fit: cover;

    }

    .categoria img {
        width: 100%;
        object-fit: cover;
    }

    .categoria:hover {
        transform: translateY(-5px);
    }


    .categoria h2 {
        color: #007BFF;
        margin-bottom: 15px;


    }

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-family: 'Arial', sans-serif;
    font-size: x-large;
    color: #ff0000;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 40%;
}

footer a {
    color: rgb(255, 0, 0);
}
